ENV=local
DB_URL=postgresql://admin:123456@localhost:5435/db_nq57
SECRET_KEY=dev-secret
HOST_URL=http://localhost:8000
CONTEXT_ROOT=app
LOG_DIR=logs
MINIO_CONFIG={"endpoint":"localhost:9000","username":"minioadmin","password":"minioadmin","bucket":"nghiquyet57","public_domain":"http://localhost:9000"}
