ENV=local
DB_URL=postgresql://postgres:postgres@localhost:5432/postgres
SECRET_KEY=some-64-chars-string
HOST_URL=http://localhost:8000
MINIO_CONFIG={"endpoint": "localhost:9000", "username": "minioadmin", "password": "minioadmin", "bucket": "sample", "public_domain": "http://localhost:9001"}