{% from 'templates/components/button/button.html' import button %}

<div>
    {% include 'leader/rank/form.html' %}
    <div class="mt-2 text-right">
        {{ button(
            text='Lưu',
            variant='filled',
            htmx_event_prefix='ranking',
            extra_attributes={
                'hx-post': url('ranking_update'),
                'hx-target': "#ranking-form",
                'hx-include': "#ranking-form",
                'hx-swap': 'outerHTML',
            },
        ) }}
    </div>
</div>