{% extends 'templates/layouts/index.html' %}
{% from 'templates/components/table/table.html' import table %}
{% block title %}Danh mục cấp chỉ đạo{% endblock %}

{% block content %}
<div class="p-4">
    {{
        table(
            header='<h1 class="text-4xl font-semibold my-4">Danh mục cấp chỉ đạo</h1>',
            filters=filters,
            columns=columns,
            rows=rows,
            partial_url=partial_url,
            actions=actions,
            row_actions=row_actions,
            page_index=page_index,
            page_size=page_size,
            total_count=total_count,
            reload_event=reload_event,
        )
    }}
</div>

{% endblock %}