{% from 'system/departments/table.html' import department_table %}

{% macro department_list_panel(page_title, filters, partial_url, actions, columns, rows, page_index, page_size, total_count, sort, sort_direction, reload_event, tree_expanded_ids) %}
{{
  department_table(
    header='<h1 class="text-4xl font-semibold my-4">' ~ page_title ~ '</h1>',
    filters=filters,
    actions=actions,
    columns=columns,
    rows=rows,
    partial_url=partial_url,
    page_index=page_index,
    page_size=page_size,
    total_count=total_count,
    sort=sort,
    sort_direction=sort_direction,
    reload_event=reload_event,
    tree_expanded_ids=tree_expanded_ids,
    table_class='w-full table-fixed',
  )
}}
{% endmacro %}