{% from 'templates/components/button/button.html' import button %}
<div class="w-3xl">
    {% include 'quota/import_form.html' %}
    <div class="mt-2 text-right">
        {{ button(
            text='Tải lên',
            variant='filled',
            disabled=false,
            htmx_event_prefix='quota',
            loading_text='Đang tải...',
            extra_attributes={
            'hx-post': url('quota_import'),
            'hx-target': '#quota-import-panel',
            'hx-include': '#quota-import-form',
            'hx-encoding': 'multipart/form-data',
            'hx-swap': 'outerHTML',
            },
        ) }}
    </div>
</div>