{% from 'templates/components/input/base/input.html' import input %}
{% from 'templates/components/button/button.html' import button %}

<div id="document-create-panel">
    {% include 'document/form.html' %}
    <div class="mt-2 text-right">
        {{ button(
            text='Lưu',
            variant='filled',
            disabled=false,
            htmx_event_prefix='document',
            extra_attributes={
                'hx-post': url('document_create'),
                'hx-target': "#document-create-panel",
                'hx-include': "#document-form",
                'hx-encoding': 'multipart/form-data',
                'hx-swap': 'outerHTML',
            },
        ) }}
    </div>
</div>